

body {
    padding: 50px 150px;
    width: 100%;
    max-width: 600px;
    border: 1px solid black;

}

h1, h2 {
    text-align: center;
}

h1 {
    letter-spacing: 3px;
}

h2 {
    color: #006EB6;
    font-size: 15px;
    margin-bottom: 50px;
    border-bottom: 1px solid #006EB6;
    letter-spacing: 2px;
    
}


p, li {
    font-weight: 600;
    font-size: 18px;
    padding: 5px;
    line-height: 1.7;
}

#uni {
    font-style: italic;
}

.body {
    margin-bottom: 50px;
}


footer{
    display: flex;
    justify-content: center;
    
}

img {
    width: 150px;
}


.dark {
    background-color: black;
    color: white;
}

.dark h2 {
    color: rgb(174, 229, 255);
}

.dark img {
    width: 150px;
}



